.print-table { width: 100%; }
.print-table th, .print-table td {
    border: 1px solid black;
    padding: 5px !important;
    border-collapse: collapse;
}

.print-table thead th, .print-table thead td {
    text-align:center;
    vertical-align:middle;
    /*table table-hover table-striped table-bordered */
}
.print-table tbody td:nth-child(1) {
    text-align: center;
}