@font-face {
    font-family: 'limon-r1';
    src: url('../fonts/khmer/lmnr1.ttf') format('opentype');
}
@font-face {
    font-family: 'limon-s1';
    src: url('../fonts/khmer/lmns1.ttf') format('opentype');
}