* {
    font-family: 'KhmerOSbattambang'
}

h1, h2, h3, h4, h5, h6, h2 a, .title {
    font-family: 'KhmerOSmuol'
}

.page-header {
    font-family: 'KhmerOSmuol';
    text-align: center;
    font-size: 18px;
}

#navbar li a {
    font-family: 'KhmM1';
    margin-top: 1px;
}