/**
 * Print style
 */
body {
    margin: 0 !important;
    padding: 0 !important;
}
h2 {
    margin-bottom: -5px;
    text-align: center;
    font-size: 20px;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}

table {
    width: 100%;
}

th, td {
    font-size: 11px;
    text-align: center;
    padding: 0px 5px;
}


td:nth-child(1),
td:nth-child(2),
td.title-italic {
    font-size: 9px;
}

td:nth-child(2) {
    text-align: left !important;
}

.title-bold {
    font-weight: bold;
    font-size: 10px;
}

.title-italic {
    font-style: italic;
}

.no-print {
    display: none;
}

.print {
    display: block;
}
