@font-face {
    font-family: 'KhmerOSbattambang';
    src: url('KhmerOSbattambang.eot?#iefix') format('embedded-opentype'), url('KhmerOSbattambang.woff') format('woff'), url('KhmerOSbattambang.ttf') format('truetype'), url('KhmerOSbattambang.svg#KhmerOSbattambang') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KhmerOSmuol';
    src: url('KhmerOSmuol.eot?#iefix') format('embedded-opentype'), url('KhmerOSmuol.woff') format('woff'), url('KhmerOSmuol.ttf') format('truetype'), url('KhmerOSmuol.svg#KhmerOSmuol') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KhmS1';
    src: url('KhmS1.eot?#iefix') format('embedded-opentype'), url('KhmS1.woff') format('woff'), url('KhmS1.ttf') format('truetype'), url('KhmS1.svg#KhmS1') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KhmM1';
    src: url('KhmM1.eot?#iefix') format('embedded-opentype'), url('KhmM1.woff') format('woff'), url('KhmM1.ttf') format('truetype'), url('KhmM1.svg#KhmM1') format('svg');
    font-weight: normal;
    font-style: normal;
}